.header {
  background-color: #181818;
  background-size: cover;
  background-position: center;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: sticky;
  top: 0;
  z-index: 1000;
  margin-left: 250px;
  height: 340px;
  border-radius: 0 0 40px 40px;
  transition: background-image 1s ease-in-out, height 0.3s ease;
}

.header-overlay {
  background: rgb(0 0 0 / 0%);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.header.short {
  height: 50px;
  background-color: #181818;
  padding: 20px 40px;
  border-radius: 0;
}

.header.full {
  height: 340px;
  padding: 20px 40px;
}

.movie-details.hidden {
  display: none;
}

.movie-details {
  color: white;
  margin-top: 100px;
  margin-bottom: 10px;
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

.movie-details h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.movie-details p {
  font-size: 16px;
  margin: 5px 0;
}

.header-buttons {
  margin-top: 10px;
}

.header-buttons button {
  background-color: #7f4fff;
  color: white;
  border: none;
  padding: 8px 16px;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.header-buttons button:hover {
  background-color: #6741d9;
}

.header-left {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.header-left nav ul {
  list-style-type: none;
  display: flex;
  gap: 30px;
  padding-left: 0;
  margin-top: 2px;
}

.header-left nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
}

.header-left nav ul li a:hover {
  color: #7f4fff;
}

.movie-details {
  color: white;
  margin-top: 100px;
  margin-bottom: 10px;
  transition: opacity 0.1s ease, visibility 0.1s ease;
}

.movie-details.hidden {
  display: none;
}

.movie-details h1 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.movie-details p {
  font-size: 16px;
  margin: 5px 0;
}

.header-buttons {
  margin-top: 10px;
}

.header-buttons button {
  background-color: #7f4fff;
  color: white;
  border: none;
  padding: 8px 16px;
  margin-right: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.header-buttons button:hover {
  background-color: #6741d9;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 20px;
}

.search-bar {
  position: relative;
}

.search-bar input {
  background-color: #333;
  border: none;
  padding: 10px 40px 10px 20px;
  border-radius: 50px;
  color: white;
}

.search-bar i {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
  color: white;
}

.suggestions-dropdown {
  position: absolute;
  background: rgb(43, 41, 41);
  border: 1px solid #000000;
  list-style-type: none;
  padding: 0;
  margin-top: 10px;
  z-index: 10;
  color: #f0f0f0;
  max-height: 200px;
  overflow-y: auto;
}

.suggestions-dropdown::-webkit-scrollbar {
  background: transparent;
}

.suggestions-dropdown:hover {
  scrollbar-color: #b1b1b1 #2b2929;
}
.suggestions-dropdown li {
  display: flex;
  align-items: center;
  padding: 8px;
  cursor: pointer;
}

.suggestions-dropdown li:hover {
  background-color: #f0f0f035;
}

.suggestion-poster {
  width: 30px;
  height: auto;
  margin-right: 10px;
}

.notification-icon,
.profile-icon {
  color: white;
  font-size: 28px;
  cursor: pointer;
}

.notification-icon:hover,
.profile-icon:hover {
  color: #7f4fff;
}
